.page-header 
{
    background: $off-white;
    margin-bottom: $large;
    padding: $large 0;
}

.page-header__actions
{
    margin-top: $medium;
    
}

.page-header__title
{
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    };
}